.App-header {
  height: auto;
  padding: 20px;
  color: white;
  text-align: center;
}
.portrait {
  width: 256px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.portrait img,
.navbar-layout img {
  width: 100%;
}

.m-t-1-5 {
  margin-top: 1.5em;
}

.m-b-0-5 {
  margin-bottom: 0.5em !important;
}

.m-b-1-5 {
  margin-bottom: 1.5em;
}

.m-b-1 {
  margin-bottom: 1em;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-l-3 {
  margin-left: 3em;
}

.f-s-1-5 {
  font-size: 1.5em !important;
}

.f-w-700 {
  font-weight: 700 !important;
}

.opac-0-5 {
  opacity: 0.5;
}

.color-green {
  color: #0aa50a;
}

.color-brown {
  color: #ca9418;
}

.color-red {
  color: #d41212;
}

.hauling-calculator-widget-icon {
  width: 1px;
  height: 1px;
  padding: 24px;
  background-color: black;
  border-radius: 100%;
}

.navbar-layout {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 40px;
  z-index: 99;
}

.navbar-layout > div:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.fixedBg {
  background-image: url(/static/media/bg-1.725ed40b.jpg);
  background-size: cover;
  background-position-y: 50%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.table {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 12px;
  font-weight: 300;
}

.table > thead > tr > th {
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 300;
}

.table > tbody > tr:nth-of-type(odd) {
  background-color: transparent !important;
}

.table-hover > tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.table .selectedRow {
  background-color: rgba(0, 0, 0, 0.3);
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  line-height: 1.1 !important;
  border-right: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
}

select.form-control,
input.form-control {
  height: 23px !important;
  padding: 0px 3px !important;
  font-size: 13px !important;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-radius: 2px !important;
  font-weight: 300 !important;
  border: 0 !important;
}

label {
  color: white;
  font-size: 13px;
  font-weight: 300 !important;
}

.popover {
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: white !important;
  font-size: 12px !important;
  font-weight: 300 !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  left: 34px !important;
  position: fixed !important;
  top: 0 !important;
}

.popover .arrow {
  display: none !important;
}
